@import "bourbon";

.cgb-flex-row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.gutenberg {

    .components-panel__body.cgb-inspector-panel {

        .components-panel__body {
            margin-left: 0;
            border-top: none;
        }

        .cgb-inspector-flex-row {
            display: flex;
            justify-content: center;
            align-items: start;

            & > * {
                margin-left: 0.5em;
                &:first-child {
                    margin-left: 0;
                }
            }
        }
    }

    .cgb-block-item-controls-popover {
        .components-popover__content{
            padding: 1em;
        }
    }


    .components-base-control.cgb-columns-field .components-base-control__field {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;

        & > .components-base-control__label {
            flex-basis: 100%;
            flex-shrink: 0;
            flex-grow: 1;
        }

        & > .components-base-control {
            flex-shrink: 1;
            flex-grow: 1;
            flex-basis: 50%;
            margin-right: 7px;

            &.cgb-columns-field-no-margin {
                margin-right: 0;
            }

            &.cgb-columns-field-30 {
                flex-basis: 30px;
                flex-shrink: 0;
            }

            &.cgb-columns-field-full {
                flex-basis: 100%;
                flex-shrink: 0;
            }
        }

    }

}





body.gutenberg-editor-page,
body {

    @import "./vendor/carousel_custom";

    .cgb-block {

        &-grid-item,
        &-carousel-item,
        &-item {
            position: relative;
            display: flex;

            &-image {
                margin: 0;
                overflow: hidden;

                display: flex;
                justify-content: center;
                align-items: center;

                width: 100%;
                height: 100%;

                img {
                    position: relative;
                    display: block;
                    object-fit: cover;
                    min-width: 100%;
                    min-height: 100%;
                    max-width: none;
                    max-height: none;
                    cursor: pointer;
                }
            }

            &.selected {
                z-index: 5;
            }




            &-image-controls,           // imageControls, the controls for the user
            &-info {
                position: absolute;
                width: calc( 100% - 2em );
                background: #ccc;
                margin: auto 1em;
                padding: 0.5em;
                display: block;

                &-title {
                    font-size: larger;
                }
                &-caption {
                    p {
                        margin: 0.5em 0;
                    }
                }

                &.is-hidden {
                    opacity: 0;
                    // .cgb-block-item-image-controls-inner {
                    //     display: none;
                    // }
                }
                &.is-visible {
                    opacity: 1;
                    .cgb-block-grid-item-image-controls-inner,
                    .cgb-block-carousel-item-image-controls-inner,
                    .cgb-block-item-image-controls-inner {
                        display: flex;
                    }
                }

            }

            &-controls {                 // itemControls, the controls for administration
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                z-index: 6;
            }

            &-controls-inner,
            &-image-controls-inner {     // imageControls, the controls for the user
               .components-button {
                   background: transparentize( #fff, 0.4 );
                   margin: 0.25em;
                   cursor: pointer;
                   &:hover {
                       background: transparentize( #fff, 0.2 );
                   }
                   &.remove {
                       color: #f00;
                       &:hover {
                           color: #f00;
                       }
                   }
               }
            }
            &-image-controls-inner {
                flex-wrap: wrap;
            }
            &-controls-inner {          // itemControls, the controls for administration
                display: none;
                width: 100%;
                background: transparentize( #000, 0.2 );
            }

            &:hover {
                .cgb-block-grid-item-info,
                .cgb-block-carousel-item-info,
                .cgb-block-item-info {
                    &.is-visible-on-hover {
                        opacity: 1;
                    }
                }
            }

            &:hover {
                .cgb-block-grid-item-image-controls,
                .cgb-block-carousel-item-image-controls,
                .cgb-block-item-image-controls {
                    &.is-visible-on-hover {
                        opacity: 1;
                    }
                    &-inner {     // imageControls, the controls for the user
                        display: flex;
                    }
                }
            }

        }

        &-carousel {

            // ??? hard coded center. use gb aligns
            .carousel {
                margin: 0px auto;
            }

            .carousel .control-dots {
                list-style: none;
                z-index: 10;

                .dot {
                    width: 11px;        // ??? move theme
                    height: 11px;       // ??? move theme
                    border-radius: 0;   // ??? move theme
                }

            }
        }

    }
}


.cgb-block {
    &-grid-item,
    &-carousel-item,
    &-item {
        &:hover &-controls-inner {
            display: flex;
        }
    }

    // image hover effects
    &-grid-item,
    &-carousel-item,
    &-item {
        &-image img {
            &.cgb-on-hover-scale{
                transform: scale(1);
                transition: transform 0.3s;
            }
        }
        &:hover &-image img {
            &.cgb-on-hover-scale{
                transform: scale(1.05);
            }
        }
    }

}


.fullscreen {
    .cgb-block {
        height: 100%;
        .cgb-block-carousel {
            height: 100%;

            & > div {
                height: 100%;
                .carousel {
                    top: 50%;
                    transform: translateY(-50%);
                }
            }
        }

    }


}
